<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> wants to be your lover</h1>
    <p>
      Click <%= link_to 'Accept Partner', @url %>
    </p>
    <p>
      If this is not your lover then please ignore this email
    </p>
    <p>Have a great day!</p>
  </body>
</html>